# Dependencies
node_modules/
node_modules/*

# Node
node_modules/
npm-debug.log
.env
dist/
build/


# Next.js
/.next/
/out/
*.log

# Environment variables
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
